html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* /////////////////////////////////////// */

section{
  padding: 1rem 0.2rem;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #ff0062;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #ff0062;
  border-radius: 4px;
  font-weight: bold;
}

button:hover,
button:active {
  background-color: #a50e48;
  border-color: #a50e48;
}